.farm-modal {
    background: rgba(0, 0, 0, 0.5) !important;
    padding: 20% 5%  !important;
    --border-radius: 25px;
}

.farm-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.farm-title {
    font-size: 2.4em;
    text-align: center;
    margin-bottom: 10px;
}

.farm-reg-list-head {
    margin-top: 15px;
}

.farm-reg-label{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.farm-reg-ear-tag {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.farm-reg-color-button-div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.farm-reg-action-button-div {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.github-picker {
    display: flex;
    justify-content: space-around;
}
